.menu-card-parent {
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 20;
  transition: 0.3s ease;
  transform: scale(1) translateY(0rem);
  left: 0;
  background: var(--navyblue);
  /* padding: 4rem; */
  /* left: -10rem; */

  /* border: 2px solid red; */
}

.menu-card {
  background: var(--white);
  /* padding: 2rem; */
  border-radius: 1.3rem;
  width: clamp(40%, 400px, 95%);
  margin: 0 auto;
  color: var(--secondaryColor);
  position: relative;
  /* transform: translateX(-5rem); */
  /* z-index: 20;
  transition: 0.3s ease;
  transform: scale(1) translateY(3.5rem); */
  /* position: absolute; */
}

.hide-menu {
  transform: scale(0);
}

.menu-row,
.options-list,
.time-option-select,
.top-menu-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-list {
  gap: 1.5rem;
}

.time-header-h4 {
  text-align: start;
}

.options-list {
  padding: 2rem 0;
}

.menu-row,
.top-menu-row {
  padding: 2rem;
}

.b-bottom {
  border-bottom: 2px solid var(--lightgray);
}

.menu-options-content {
  padding: 2rem;
}

.close-btn,
.arrow-btn {
  cursor: pointer;
  transition: 0.3s ease;
  padding: 0 0.25rem;
  border: none;
}

.arrow-btn:hover {
  background: var(--lightgray);
  border-radius: 2px;
  /* padding: 0 0.25rem; */
}

.close-btn:hover {
  transform: scale(1.1) rotate(45deg);
}

.arrows-div {
  display: flex;
  flex-direction: column;
}

.time-option-select-div {
  flex: 1;
}

.time-option-select {
  background: var(--offwhite);
  border-radius: 0.3rem;
  padding: 0.25rem 0.75rem;
  width: 100%;
}

.highlighted-circle {
  background: var(--darkblue);
  color: var(--white);
}

.apply-btn {
  transition: 0.3s ease;
  transform: translateY(2.5rem);
  color: var(--mainColor);
}

.apply-btn:hover {
  box-shadow: 2px 3px 15px black;
  transform: scale(1.05) translateY(2.5rem);
}

.check {
  width: 2rem;
  height: 0.25rem;
  background: black;
  position: relative;
  transform: rotate(-65deg);
}

.check::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 0.25rem;
  background: black;
  top: -0.3rem;
  left: -0.3rem;
  transform: rotate(110deg);
}

@media screen and (max-width: 650px) {
  /* .menu-card-parent {
    transform: translateY(-2rem);
  } */
  .menu-row:not(first-child),
  .time-options-list {
    flex-direction: column;
  }

  .time-option-select-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: none;
  }

  .time-option-select {
    width: 125px;
  }
}
